name: Publish NPM

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Deploy'
        required: true
        default: 'release deploy'
jobs:
  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
