name: Publish NPM

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Deploy'
        required: true
        default: 'release deploy'
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
          
      - name: Install Dependencies And Build
        run: |
          node --version
          npm --version
          yarn --version
          yarn install
          yarn compile

      - name: Publish NPM 
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
